@import "../../variables.scss";

.cardItem {
  display: flex;
  place-items: center;
  justify-content: center;
  padding: 1rem;
  height: 18rem;
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  background-color: antiquewhite;
  color: rgb(202, 121, 0);
  box-shadow: $boxShadow;
}
