@import "../../variables.scss";

.cardItem {
  display: flex;
  place-items: center;
  justify-content: center;
  padding: 4rem;
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 2vmin;
  font-weight: 600;
  min-width: 30%;
  background-color: antiquewhite;
  color: rgb(202, 121, 0);
  box-shadow: $boxShadow;
}
