@import "../../_variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
}

.layout {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex: 1 0 auto;
  margin-left: auto;
  margin-right: auto;
}

.main {
  max-width: $widthBody;
  @include layout;
  margin: $marginTopBottom30;
  flex-grow: 3;
}

.formAuth {
  display: flex;
  flex-direction: column;

  gap: 2rem;
}

.gameLink {
  margin: 0 auto;
}

.startGameButton {
  background-color: $orange;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 22px;
  text-align: center;
  @include scale-item;

  &:disabled,
  &[disabled] {
    opacity: 0.3;
    cursor: no-drop;
  }
}

.gameId {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.playerNickname {
  width: 30vw;
  height: 5vh;
  border-radius: 0.3em;
  padding: 1em;
  margin-right: 1em;
  font-size: 1em;
  outline: none;
  caret-color: $orange;

  &:focus {
    filter: drop-shadow(0 0 0.4rem $orange);
  }
}
