@import "../../variables.scss";

.cardItem {
  display: flex;
  place-items: center;
  justify-content: center;
  padding: 1.5rem 4rem;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 2vmin;
  font-weight: 600;
  min-width: 30%;
  background-color: antiquewhite;
  color: rgb(202, 121, 0);
  box-shadow: $boxShadow;
  cursor: pointer;
  user-select: none;

  @include scale-item;

  &:active {
    scale: 1;
  }
}
