$widthBody: 80%;

// colors
$darkgrey: #434343;
$orange: #fe5f1e;

$blueTeamCard: #0064fa;
$redTeamCard: #fa002a;
$greyCard: #ccc;
$killerCard: #292929;

// margin & padding
$marginTop1: 1em;
// colors
$red: rgb(255, 80, 80);
$blue: rgb(18, 132, 246);

// styles
$borderRadius: 5px;
$padding10: 10px;
$marginTopBottom30: 30px auto;

// shadows
$boxShadow: 0 10px 20px rgba(255, 102, 0, 0.4), 0 6px 6px rgb(251 103 4 / 40%);

// hover
$scaleSize: 1.03;
$transitionHover: 0.2s linear;

// mixins
@mixin scale-item {
  transition: all $transitionHover;

  &:hover {
    scale: $scaleSize;
  }
}

@mixin layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1260px;
  margin: 0 auto;
}
